<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/layout.html}">

    <div layout:fragment="content">
        <main>
            <div class="container-fluid mt-2">

                <!-- Heading -->
                <div class="card mb-4 wow fadeIn">

                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">

                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
                        </h4>

                    </div>

                </div>
                <!-- Heading -->

            </div>
        </main>


        <section class="text-center my-5">


            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div style="margin: auto;" class="align-content-center">
                    <!-- Card -->
                    <div class="card card-cascade wider card-ecommerce">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img style="height: 300px;" src="https://i.ytimg.com/vi/sV2t3tW_JTQ/maxresdefault.jpg" class="card-img-top"
                                 alt="sample photo">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <h2><i class="material-icons md-48">account_balance</i>Account</h2>

                            <!-- Category & Title -->
                            <h4 class="card-title">
                                <strong>
                                    <i class="material-icons md-48">face</i><a href="">John Doe</a>
                                </strong>
                            </h4>
                            <p >
                                <h5><i class="material-icons md-48">credit_card</i>Iban : 993948329483294832</h5>
                            </p>
                            <!-- Description -->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                            <!-- Card footer -->
                            <div class="card-footer px-1">
            <span class="float-left font-weight-bold">Balance:
              <strong class="text-success">2160$</strong>
            </span>
                                <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                <i class="fas fa-eye grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                <i class="fas fa-heart grey-text ml-3"></i>
              </a>
            </span>
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Products v.2 -->


    </div>


</th:block>