<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/layout.html}">

    <div layout:fragment="content">
        <main>
            <div class="container-fluid mt-2">

                <!-- Heading -->
                <div class="card mb-4 wow fadeIn">

                    <!--Card content-->
                    <div class="card-body d-sm-flex justify-content-between">

                        <h4 class="mb-2 mb-sm-0 pt-1">
                            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
                        </h4>

                    </div>

                </div>
                <!-- Heading -->

            </div>
        </main>


        <section class="text-center my-3">


            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div style="margin: auto;" class="align-content-center">
                    <!-- Card -->
                    <div class="card card-cascade wider card-ecommerce">
                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img style="height: 300px;" src="https://i.ytimg.com/vi/sV2t3tW_JTQ/maxresdefault.jpg" class="card-img-top"
                                 alt="sample photo">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <h2><i class="material-icons md-48">account_balance</i>Account</h2>

                            <!-- Category & Title -->
                            <h4 class="card-title">
                                <strong>
                                    <i class="material-icons md-48">face</i><a th:href="'/customer/'+${account.id}">[[${username}]]</a>
                                </strong>
                            </h4>
                            <p>
                                <h5><i class="material-icons md-48">credit_card</i>Iban : [[${account.accountNumber}]]</h5>
                            </p>
                            <!-- Description -->
                            <p class="card-text">Banking score is <strong class="text-info">[[${account.bankingScore}]]</strong></p>
                            <!-- Card footer -->
                            <div class="card-footer px-1">
                                <span class="float-left font-weight-bold">Balance:
                                  <strong style="color: #147839;">[[${account.balance}]]<i class="material-icons">euro_symbol</i></strong>
                                </span>
                                <span class="float-right">
                                  <a href="#" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                      Active
                                  </a>
                                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                    <i style="color: lightseagreen" class="material-icons md-48">check</i>
                                  </a>
                                </span>
                            </div>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Products v.2 -->

        <!-- Side Modal Top Right -->
        <!-- To change the direction of the modal animation change .right class -->
        <div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
            <div class="modal-dialog modal-side modal-top-right" role="document">


                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Modal Top Right -->


    </div>


</th:block>